<%- include('header'); %>

<h1>register</h1>
    <form action="/exam/delete" method="post">
        <div>
            <label for="userid">userid</label>
            <input name="userid" id="userid">
        </div>
        <div>
            <label for="email">email</label>
            <input name="email" id="email">
        </div>
        <div>
            <label for="password">password</label>
            <input name="password" id="password">
        </div>
        
        <div>
            <button type='submit'>Send!</button>
        </div>
    </form>

    </body>

    </html>