<!DOCTYPE html>
<html lang="en">
<head>
   
</head>

<body>
<div class="topnav"> 
    <nav>
        <a class="links" href='/exam/create'>create</a>
        &nbsp; &nbsp; &nbsp;
        <a class="links"  href='/exam/login'>login</a>
        &nbsp; &nbsp; &nbsp;
        <a class="links"  href='/exam/delete'>delete Users</a>
      </nav>
</div>  